.myheader {
    background-color: #214B8C;
    border-radius: 5px;
    height: 100px;
    padding: 10px;
    text-align: center;
}
.mylogo {
    align-self: center;
    background-color: #214B8C;
    height: inherit;
    width: inherit;
}
