.mycolumn {
    position: relative;
    /* font-family: "Georgia", Georgia, serif; */
    font-family: serif;
    background-color: white;
    font-size: 40px;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 5px;
    text-align: left;
}

.mycontent {
    margin: 10px;
    /* font-family: "Georgia", Georgia, serif; */
    background-color: white;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    /* padding-left: 20px; */
    font-size: 20px;
    border-radius: 5px;
    text-align: left;
}

.mygooglemap {
    width: 800px;
    height: 230px;
    background: linen;
    margin-right: 50px;
    margin-bottom: 3px;
    border-radius: 5px;
}
