.mytopnav {
    top: 1px;
    list-style-type: none;
    margin: 1px;
    padding: 1px;
    overflow: hidden;
    background-color: #214B8C;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    text-align: center;
    border-radius: 5px;
}
.mytopnav a {
    float: left;
    display: block;
    color: white;
    border: 1px solid #214B8C;
    border-radius: 5px;
    text-align: center;
    padding: 15px 60px;
    text-decoration: none;
}
.mytopnav a:hover {
    background-color: navy;
    padding: 15px 60px;
    /* text-shadow: 3px 2px #214B8C; */
}
